@media print, (max-width: 767px) {


    .header_box,
    .footer_box {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .header-contact,
    .footer-contact {
        justify-content: space-between;
        width: 100%;
    }
    .header_logo span, 
    .footer_logo span {
        font-size: 19px;
    }
    .first-section_title {
        font-size: 40px;
        margin-bottom: 35px;
    }
    .first-section_wrap {
        padding-top: 230px;
    }
    .first-section_subtitle {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .block {
        padding: 30px 0;
    }
    .block2 {
        padding: 30px 0;
    }
    .title {
        font-size: 28px;
        margin-bottom: 22px;
        text-align: center;
    }
    .advantages_items > *,
    .step_items > *,
    .card_items > * {
        width: 100%;
    }
    .card_item-img {
        height: 270px;
    }
    .card_item-price {
        max-width: 100%;
        font-size: 20px;
    }
    .card_item-text {
        margin-top: 15px;
        margin-bottom: 15px;
    }







}
