/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 88px;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Regular.eot');
    src: local('Geometria Regular'), local('Geometria-Regular'),
        url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Regular.woff2') format('woff2'),
        url('../fonts/Geometria-Regular.woff') format('woff'),
        url('../fonts/Geometria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.eot');
    src: local('Geometria Medium'), local('Geometria-Medium'),
        url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Geometria-Medium.woff') format('woff'),
        url('../fonts/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Light.eot');
    src: local('Geometria Light'), local('Geometria-Light'),
        url('../fonts/Geometria-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Light.woff2') format('woff2'),
        url('../fonts/Geometria-Light.woff') format('woff'),
        url('../fonts/Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.eot');
    src: local('Geometria Bold'), local('Geometria-Bold'),
        url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Bold.woff2') format('woff2'),
        url('../fonts/Geometria-Bold.woff') format('woff'),
        url('../fonts/Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
        url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-ExtraBold.woff2') format('woff2'),
        url('../fonts/Geometria-ExtraBold.woff') format('woff'),
        url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraLight.eot');
    src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
        url('../fonts/Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-ExtraLight.woff2') format('woff2'),
        url('../fonts/Geometria-ExtraLight.woff') format('woff'),
        url('../fonts/Geometria-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Heavy.eot');
    src: local('Geometria Heavy'), local('Geometria-Heavy'),
        url('../fonts/Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Heavy.woff2') format('woff2'),
        url('../fonts/Geometria-Heavy.woff') format('woff'),
        url('../fonts/Geometria-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Thin.eot');
    src: local('Geometria Thin'), local('Geometria-Thin'),
        url('../fonts/Geometria-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geometria-Thin.woff2') format('woff2'),
        url('../fonts/Geometria-Thin.woff') format('woff'),
        url('../fonts/Geometria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --scroll_width: 17px;
    --text_color: #17100E;
    --font_size: 17px;
    --font_size_title: 52px;
    --font_family1: 'Geometria', sans-serif;
    --font_family2: "Montserrat", serif;
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family1);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

img {
    display: block;
}


.overlay {
    position: fixed;
    z-index: 1;
    top: 144px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .3;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}
body.menu_open {
    overflow: hidden;
}







.header {
    padding: 25px 0;
    background: #6B8E23;
}
.header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    width: 80px;
    height: 85px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}
.header_logo img {
    width: 63px;
    height: auto;
    object-fit: cover;
}
.header_logo span {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    white-space: nowrap;
}
.header-contact {
    display: flex;
    align-items: center;
}
.header-contact_phone {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #fff;
    white-space: nowrap;
    margin-right: 23px;
    display: block;
}
.callback_btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    width: 197px;
    height: 54px;
    background: #56994C;
    border-radius: 7px;
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    transition: all .4s;
}
.callback_btn:hover {
    background: #54874c; 
}



.block {
    padding: 50px 0;
}
.first-section {
    background: url(../images/first-section-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.first-section_title {
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 30px;
}
.first-section_subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 30px;
}
.first-section_text {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: #fff;
}


.title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}


.advantages_items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.advantages_items > * {
    width: calc(100%/3 - 27px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step_item-img {
    width: 215px;
    height: 210px;
    margin-bottom: 15px;
}
.step_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advantages_item-title {
    text-align: center;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 15px;
}
.advantages_item-text {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}




.step {
    background: #54874c;
}
.step_items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    counter-reset: step;
}
.step_items > * {
    width: calc(100%/3 - 27px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}
.step_item:before {
    font-family: var(--font_family);
    font-weight: 700;
    font-size: 110px;
    text-align: right;
    color: #ECECEC;
    position: absolute;
    top: 8px;
    right: 17px;
    content: "0" counter(step);
    counter-increment: step;
    text-align: center;
    border-radius: 50%;
}
.step_item-title {
    text-align: center;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 15px;
    z-index: 5;
}
.step_item-text {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    z-index: 5;
}